/* (A) ENTIRE PAGE */
#cart-wrap {
  font-family: arial, sans-serif;
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 auto;
}
input.cart, button.cart {
  font-weight: bold;
  font-size: 3em;
  padding: 40px 47px 47px 47px;
  border: none;
  color: #fff;
  background: #d64107;
  cursor: pointer;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 50px;
  margin-top: 25px;
  transition: 0.2s;
}

.glow-on-hover {
  border: none;
  outline: none;
  color: #d64107;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 50px;
  margin-top: 50px;
  width: 100vw;
  height: 20vh;
}


.navbar button {
  background-color: #d64107;
  border: 1px transparent;
  border-radius: 32px;
  padding: 33px;
  position: absolute;
  top: -31px;
  right: 0;
  transform: rotate(45deg);
}

.navbar button i {
  transform: rotate(-45deg);

}

.glow-on-hover:hover {
  transform: scale(1.05);
  color: white;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: white
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}



/* (B) PRODUCTS LIST */
#cart-products {
  display: grid;
  grid-template-columns: auto auto auto; 
  grid-gap: 10px;
  padding: 10px;
}
.p-item {
  text-align: center;
  width: 24vw;
  padding: 60px;
  margin-left: 100px;
  list-style-type: none;
}
.p-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  float: left;
  margin-right: -59px;
  list-style-type: none;

}
.p-img { max-width: 180px;
border-radius: 30px; }


.p-desc {
  color: #777;
  font-size: 0.9em;
  line-height: 1.5em;
  float: left;
  margin-top: 100px;
}


.p-price {
  font-weight: bold;
  font-size: 1.1em;
  margin: 40px 0;
      margin-left: 0px;
  float: left;
  margin-left: -73px;
  list-style-type: none;
}

/* (D) CURRENT SHOPPING CART */
#cart-items {
  padding: 10px;
  padding-top: 10px;
background: #f1f1f1;
float: right;
position: absolute;
right: 0;
border-radius: 10px;
height: 100vh;
z-index: -1;
padding-top: 165px;
width: 11vw;
}
.c-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.c-name {
  width: 100%;
  font-size: 1.3em;
  line-height: 1.5em;
}
.c-del { 
  width: 7%;
  font-weight: bold;
  font-size: 1.5em !important;
  padding: 15px 33px 15px 15px !important;
  border: none;
  color: #fff;
  background: #d64107;
  cursor: pointer;
  position: relative !important;
  transform: none !important;
  border-radius: 50px;

}
.c-qty {
  width: 50%;
  font-size: 1em;
  background-color: transparent;
  border: none;
  text-align: center;
}
input.c-empty, input.c-checkout {
  width: 90%;
  margin-top: 10px;
  transform: none;
  border-radius: 50px 0px 50px 50px;
    font-size: 1.1em;
  padding: 25px;
  transition: 0.2s;
}

input.cart:hover, button.cart:hover {
  transform: scale(1.05);
  transform: rotate(45deg);
}

/* (E) RESPONSIVE */
@media screen AND (max-width: 768px) {
  #cart-wrap { grid-template-columns: 60% 40%; }
  #cart-products { grid-template-columns: auto; }
}