html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
	font-family: "Didact Gothic", sans-serif;

  }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	min-height:100%;
	font-family:Artial, Verdana, sans-serif;
	scroll-behavior: smooth;
}

body {
	background: #53f3de;
	background: -webkit-linear-gradient(top, #aafdf2, #f8cccc 100%);
	background: -moz-linear-gradient(top, #aafdf2, #f8cccc 100%);
	background: -o-linear-gradient(top, #aafdf2, #f8cccc 100%);
	background: -ms-linear-gradient(top, #aafdf2, #f8cccc 100%);
	background: linear-gradient(top, #aafdf2, #f8cccc 100%);
	background-attachment:fixed;
}

ol, ul {
	list-style: none;
}

p {
	margin:1em 0;
	line-height:1.1em;
}

q {
	font-style:italic;
	color:#333;
}

h1 {
	font-size:2.91em;
	margin:0;
}

h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
}

h2 {
	color:inherit;
	font-size:1.91em;
	margin:2em 0 1em 0;
}

h2:first-child {
	font-size: 2em;
	text-align: center;
	background-color: #d64107;
	width: 100vw;
	color: white;
	padding: 20px;
	border-radius: 20px;
	margin-top: -27px;
}

h3 {
	color:#333;
	font-size:1.41em;
	margin:1em 0;
}

h4 {
	color:#444;
	font-size:1.11em;
	margin:1em 0;
}

#progress {
	height:2%;
	background:#444;
	bottom:0;
	z-index:200;
}


.abonnementen {
	font-size: 2em;
	text-align: center;
	background-color: #d64107;
	width: 60vw;
	color: white;
	padding: 20px;
	border-radius: 20px;
	margin-top: -27px;
	margin-left: 4vw;
}

.titeltekst {
margin: 0px 200px 0px 200px;
}

#scrollbar {
	position:fixed;
	right:2px;
	height:50px;
	width:6px;
	background:#444;
	background:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.6);
	z-index:300;
	border-radius:3px;
}

.skrollr-desktop #scrollbar {display:none;}

#bg1, #bg2, #bg3 {
	z-index:50;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../images/bubbles.png) repeat 0 0;
}

#bg2 {
	z-index:49;
	background-image:url(../images/bubbles2.png);
}

#bg3 {
	z-index:48;
	background-image:url(../images/bubbles3.png);
}

#intro {
	width:100vw;
	height: 110vh;
	margin-top: -30px;
	background-color: white;
	text-align: center;
	border-radius:1em;

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
	#intro img{
		margin-top: 150px;
	}

}

#intro i {
	position: absolute;
	justify-content: center;
	left: 48vw;
	font-size: 50px;
}

#intro img {
max-width: 20vw;
margin-top: 5vh;
}

#transform {
	text-align:center;
	font-size:100%;
	margin-top: 10px;
}




	#transform img {
		max-width: 17vh;
		}
	
		.column {
			float: left;
			width: 32.5%;
			margin: 5px;
			transition: 0.2s;
		  }

		  .p-item {
			  transition: 0.2s;
		  }
	
		  .p-item:hover {
			transform: scale(1.1)	;	 }
	
		  .column p {
			  font-size: 15px;
		  }
		  
		  /* Clearfix (clear floats) */
		  .row::after {
			content: "";
			clear: both;
			display: table;
		  }
	
		  .row {
			  margin-top: -30px;
		  }

		  


.abbo, .abbo2 {
	background-color: white;
	transition: 0.2s;
}

.abbo2 {
		margin-bottom: 20px;
	border-radius: 35px;
	width:80%

}

.abbo2:hover, .abbo:hover {
	transform: scale(1.05);
}


.abbo2 .img2 {
	max-width: 11vw;
	float: right;
	margin-top: -23vh;
	background: #d64107;
	padding: 22px;
	border-radius: 30px;
}

.kruis {
	font-weight: bold;
font-size: 3em;
float: left;
padding: 40px 47px 40px 47px;
border: none;
color: #fff;
background: #d64107;
cursor: pointer;
transform: rotate(45deg);
border-radius: 40px;
transition: 0.2s;
margin-top: 4vh;
margin-left: 3vw;

}

.padd {
	padding: 2vw;
	width: 80%;
	margin-left: 77px;
}

#properties {
	width:80vw;
	margin: 10vw;
	margin-left: 17vw;
	margin-top: -100px;

	height:100%;
	padding-top:10%;
	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#easing_wrapper {
	width:100%;
	height:100%;
}

#easing {
	top:10%;
	width:70vw;
	z-index:101;
}

.drop {
	background: rgb(235, 232, 232);
	font-weight:bold;
	font-size: 1.5vw;	padding: 1em;
	text-align: center;
	float: left;
	width: 100vw;
	height: 50vh;
}

.drop i{
	float: right;
	font-size: 5vw;
	color: black;
	margin-top: -12vh;
}

.drop:hover {
	background-color: rgb(241, 255, 236);
}

#download {
	width:80%;
	left:10%;
	height:80%;
	padding:3em;
	border:0 solid #222;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.twitter-share-button, .twitter-follow-button {
	vertical-align:middle;
}


.navbar {

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
  }
  
  .navbar a, i {
	float: left;
	display: block;
	color: #d64107;
	text-align: center;
	padding: 24px 16px;
	text-decoration: none;
	font-size: 30px;
	transition: 0.3s;
	font-weight: bold;
  }

  .maxw {
	  margin-left: 10vw;
	  margin-right: 10vw;
  }

  .navbar i {
	  float: right;
	  font-size: 25px;
	  transition: 0.3s;
	  color: white;

  }

  .navbar i:hover {
	  transform: scale(1.1);
	  color: white;
  }
  
  .navbar a:hover {
	background: #ddd;
	color: black;
	transform: scale(1.1);

  }

  .downer {
background-color: white;
color: #d64107;
padding: 10px;
border-radius: 20px 20px 0px 0px;  }

  .collapsible {
	background-color: #d64107;
	color: white;
	cursor: pointer;
	padding: 0px 40px 0px 40px;
	border: none;
	outline: none;
	font-size: 15px;
	text-align: center;
	border-radius: 20px;
	transition: 0.2s;
	font-size: 30px;
	margin-top: 30px;
	width: 23vw;
  }
  
  .active, .collapsible:hover {
	background-color: #555;
	
  }
  
  .content {
	padding: 40px 18px;
	display: none;
	overflow: hidden;
	margin-bottom: 50px;
	background-color: #f1f1f1;
	position: absolute;
	border-radius: 15px;
	transition: 0.1s;
  }

  .p-price {
	font-weight: bold;
    font-size: 1.1em;
	margin: 40px 0 !important; 
    margin-left: 0px;
    float: none !important;
    margin-left: -73px;
    list-style-type: none;
}
  
.p-desc {
	margin-top: 0px !important;
}

.p-name {
	font-family: "Pacifico", cursive;
	background-color: #d64107;
	padding: 20px;
	color: white;
	border-radius: 15px;
}


  @media only screen and (max-width: 1100px) {

	#transform {
			margin-top: -260px;
			margin-right: 10vw;
			float: right;
	}

	#transform img {
	max-width: 25vh;
	}

	#cart-items {
		width: 100vw !important;
	}


	.p-item {
		text-align: center;
width: 24vw;
padding: 40px !important;
margin-left: 110px;
list-style-type: none;
margin-left: -95px;
margin-top: -30vh;
transform: scale(0.5);
margin-bottom: -20px;
margin-top: -360px;
margin-bottom: 10px;
	}

	#intro img {
		max-width: 50vw;
		margin-top: 25vh;
	}

	.abbo .img1, .img3  {
		max-width: 28vw;
		opacity: 0.5;
	}

	.row {
		margin-top: 30px;
	}

	.abbo2 .img2  {
		max-width: 11vw;
		float: right;
		margin-top: -22vh;
		background: #d64107;
		padding: 19px;
		border-radius: 31px;
		max-width: 22vw;
opacity: 0.5;
	}

	.abbo2 {
		margin-bottom: 20px;
border-radius: 35px;
width: 100vw;
margin-left: -16vw;
	}



	.p-price {
		font-weight: bold !important;
		font-size: 2.1em !important;
		margin: 0px !important;
		text-align: center;
		background-color: transparent !important;
		position: absolute;
		left: 270px;
	}

	.p-name {
		font-size: 2em !important;
		font-size: 2em;
		margin-top: 15px !important;
		font-family: "Pacifico", cursive;

	}

	.drop {
		font-size: 5.5vw;

	}

	.drop i {
		margin-top: 3vh !important;
		font-size: 12vw;
	}

	.kruis {
		padding: 10px;
		margin-top: 0px;
	}

	.padd {
		margin-left: 30px;
	}

	.p-desc {
		margin-top: 0px !important;
		font-size: 1.4em !important;
		width: 100vw;
	}

	#easing {
		margin-top: 100px;
		top: 0%;
		display: grid;
grid-template-columns: 1fr 1fr;
	}

	.collapsible {
		width: 100%;
		font-size: 21px;
	}

	  #intro i {
		position: absolute;
		left: 39%;
		font-size: 50px;
	}

	#properties {
		margin-top: 20vh;
	}

	.maxw {
		margin-left: 0;
		margin-right: 0;
	}

	#intro img {
		margin-top: 8vh;
		margin-bottom: -58px;
	}

	.abonnementen {
		font-size: 1em;
		text-align: center;
		background-color: #d64107;
		width: 100vw;
		color: white;
		padding: 21px;
		border-radius: 20px;
		margin-top: -83px;
		margin-left: -17vw;
	}

	.QA {
		position: absolute;
		background-color: #d64107;
		padding: 21px;
		border-radius: 20px;
		margin-top: -70px;
		color: white;
	}
	

	.content {
	padding: 40px 18px;
	display: none;
	overflow: hidden;
	margin-bottom: 50px;
	background-color: #f1f1f1;
	position: absolute;
	border-radius: 15px;
	transition: 0.1s;
	bottom: -270px;
	width: 100vw;
	left: -57px; }

	.titeltekst {
		margin: 0px 10px 0px 10px;
		
	}

	


	
h2:first-child {
	margin-top: 160px;
	margin-left: 0px;
	margin-bottom: -176px;
	font-size: 1em;
	text-align: center;
	background-color: #d64107;
	width: 100vw;
	color: white;
	padding: 20px;
	border-radius: 20px;
}


	}