html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
  }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	min-height:100%;
	font-family:Artial, Verdana, sans-serif;
	scroll-behavior: smooth;
}

body {
	background: #53f3de;
	background: -webkit-linear-gradient(top, #aafdf2, #f8cccc 100%);
	background: -moz-linear-gradient(top, #aafdf2, #f8cccc 100%);
	background: -o-linear-gradient(top, #aafdf2, #f8cccc 100%);
	background: -ms-linear-gradient(top, #aafdf2, #f8cccc 100%);
	background: linear-gradient(top, #aafdf2, #f8cccc 100%);
	background-attachment:fixed;
}

ol, ul {
	list-style: none;
}

p {
	margin:1em 0;
	line-height:1.1em;
}

q {
	font-style:italic;
	color:#333;
}

h1 {
	font-size:2.91em;
	margin:0;
}

h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
}

h2 {
	color:inherit;
	font-size:1.91em;
	margin:2em 0 1em 0;
}

h2:first-child {margin-top:0;}

h3 {
	color:#333;
	font-size:1.41em;
	margin:1em 0;
}

h4 {
	color:#444;
	font-size:1.11em;
	margin:1em 0;
}

#progress {
	height:2%;
	background:#444;
	bottom:0;
	z-index:200;
}

#scrollbar {
	position:fixed;
	right:2px;
	height:50px;
	width:6px;
	background:#444;
	background:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.6);
	z-index:300;
	border-radius:3px;
}

.skrollr-desktop #scrollbar {display:none;}

#bg1, #bg2, #bg3 {
	z-index:50;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(images/bubbles.png) repeat 0 0;
}

#bg2 {
	z-index:49;
	background-image:url(images/bubbles2.png);
}

#bg3 {
	z-index:48;
	background-image:url(images/bubbles3.png);
}

#intro {
	width:100vw;
	height: 110vh;
	margin-top: -30px;
	background-color: white;
	text-align: center;
	border-radius:1em;

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
	#intro img{
		margin-top: 150px;
	}

}

#intro i {
	position: absolute;
	justify-content: center;
	left: 48vw;
	font-size: 50px;
}

#intro img {
max-width: 30vw;
}

#transform {
	top: 10%;
	text-align:center;
	font-size:150%;
}



	#transform img {
		max-width: 18vh;
		}
	
		.column {
			float: left;
			width: 32.5%;
			margin: 5px;
			background-color: white;
			transition: 0.2s;
		  }
	
		  .column:hover {
			  background-color: rgb(233, 233, 233);
			transform: scale(1.05)	;	 
			border-radius: 5px; }
	
		  .column p {
			  font-size: 15px;
		  }
		  
		  /* Clearfix (clear floats) */
		  .row::after {
			content: "";
			clear: both;
			display: table;
		  }
	
		  .row {
			  margin-top: -30px;
			  width: 100vw;
		  }



.abbo, .abbo2 {
	padding: 4vw;
	background-color: white;
	transition: 0.2s;
}

.abbo2 {
	background-color: rgb(235, 232, 232);
}

.abbo2:hover, .abbo:hover {
	background-color: rgb(241, 255, 236);
	transform: scale(1.05);
}

.abbo .img1, .img3 {
	max-width: 10vw;
	float: left;
	margin-top: -17vh;
}

.abbo2 .img2 {
	max-width: 10vw;
	float: right;
	margin-top: -17vh;
}

#properties {
	width:90vw;
	margin: 5vw;
	margin-top: -100px;

	height:100%;
	padding-top:10%;
	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#easing_wrapper {
	width:100%;
	height:100%;
}

#easing {
	top:10%;
	width:50%;
	z-index:101;
}

.drop {
	background:#09f;
	font-weight:bold;
	padding:1em;
}

#download {
	width:80%;
	left:10%;
	height:80%;
	padding:3em;
	border:0 solid #222;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.twitter-share-button, .twitter-follow-button {
	vertical-align:middle;
}


.navbar {
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 51;
  }
  
  .navbar a, i {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 24px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: 0.3s;
  }

  .navbar i {
	  float: right;
	  font-size: 20px;
	  transition: 0.3s;
  }

  .navbar i:hover {
	  color: #aafdf2 ;
	  background-color: #ddd;
	  transform: scale(1.1);
  }
  
  .navbar a:hover {
	background: #ddd;
	color: black;
	transform: scale(1.1);

  }


  @media only screen and (max-width: 600px) {

	#transform {
			margin-top: -130px;
			margin-right: 10vw;
			float: right;
	}


	#transform img {
	max-width: 30vh;
	}

	
	.column {
		float: left;
		width: 50vw;
		margin: 0;
		padding: 20px;
		background-color: white;
		transition: 0.2s;
	  }

	  #intro i {
		position: absolute;
		left: 39%;
		font-size: 50px;
	}

	#properties {
		margin-top: 10vh;
	}

	}